.navBarArea {
	position: fixed;
	z-index: 1
}

.navHomeTab {
}

.myName {
	font-family: Century Gothic;
	font-size: 30px;
	background-color: #6bdbcf;
	color: white;
	position: fixed;
	top: 0;
	margin-left: 150px;
	padding-top: 8px;
	padding-left: 20px;
	padding-right: 20px;
	}

.navTabs {
	margin-left: 1000px;
	margin-right: 210px;
	text-align: right;
	font-family: Century Gothic;
	font-size: 14px;
}

.contentArea {
	position: relative;
	background-color: grey;
}

.headers {
	font-family: Century Gothic;
	color: white;
	font-size: 24px;
}

.mainSection {
	margin-top: 90px;
	margin-bottom: 55px;
	padding-top: 50px;
	padding-left: 150px;
	padding-right: 150px;
	padding-bottom: 100px;
	line-height: 2;
	position: relative;
	background-color: #6bdbcf;
}

#profilePic {
	float: left;
	margin-right: 20px;
}

.aboutMe {
	color: white;
	font-family: optima;
	font-size: 14px;
}
.aboutMe2 {
	color: white;
	font-family: optima;
	font-size: 14px;
}

.sideBar {
	margin-top: 90px;
	position: relative;
	background-color: #6bdbcf;
	padding-top: 30px;
	padding-left: 100px;
	padding-right: 50px;
	padding-bottom: 100px;
}

.sideBarHeader {
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.sideBarIcons {
	padding-top: 50px;
	margin-left: 20px;
	margin-right: 20px;
}

.gitHubIcon {
	width: 70px;
	height: 70px;
}

.linkedInIcon {
	width: 70px;
	height: 70px;
}

.stackOverflowIcon {
	width: 70px;
	height: 70px;
}

.card-text {
	font-size: 14px;
	color: #6bdbcf;
	font-family: optima;
	text-align: center;
}

.nameBox {
	color: white;
	font-family: Optima;
}

.emailBox {
	color: white;
	font-family: Optima;
}

.messageBox {
	color: white;
	font-family: Optima;
}
.footerBackground {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: white;
	width: 100%;
	height: 45px;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 20px;
	padding-bottom: 5px;
	text-align: center;
	background-color: #6BDBCF;
	font-size: 10px;
}